beautifulsoup4
blinker
certifi
charset-normalizer
click
dash
Flask
gunicorn
idna
importlib_metadata
itsdangerous
Jinja2
MarkupSafe
narwhals
nest-asyncio
numpy
packaging
pandas
plotly
python-dateutil
pytz
requests
retrying
six
soupsieve
typing_extensions
tzdata
Unidecode
urllib3
Werkzeug
zipp
gunicorn